<!DOCTYPE html>
<html  class="responsive-login-page" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>findPw</title>
    <!-- CSS 파일 가져오기 -->
    <link rel="stylesheet" href="/css/rurustyle.css" />
    <link rel="stylesheet" href="/css/language.css" />
    <!-- JS 파일 가져오기 -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/member/findPw.js"></script>
    <script src="/js/member/locale.js"></script>
</head>
<body class="login-page">
<div class="logo-title">
    <img class="logo"/>
    <p th:text="#{logo}">ソウルに触る</p>

    <!-- 언어변경파트 -->
    <div class="select-container">
        <div class="lenge_select-toggle">
            <div class="language-selector">
                <img src="/images/home/지구본.png" alt="Globe Icon" />
                <div class="languages">
                    <span class="span_kor" th:if="${#locale.language == 'ko'}" style="font-weight: bold;">KOR</span>
                    <span class="span_kor" th:if="${#locale.language != 'ko'}">KOR</span>
                    <div class="separator"></div>
                    <span class="span_jp"  th:if="${#locale.language == 'ja'}" style="font-weight: bold;">JP</span>
                    <span class="span_jp"  th:if="${#locale.language != 'ja'}">JP</span>
                </div>
            </div>
        </div>
</div>

<div id="frame">
    <main>
        <p class="main-title" th:text="#{find.pw}">findPw</p>
        <!--비밀번호 찾기 Form-->
        <form th:action="@{/login/findPw}" th:method="post">
            <div class="input-group">
                <!--아이디 입력-->
                <div id="confirmId">
                    <label for="memberId" class="input-label" th:text="#{find.pw.msg}">Please input your ID</label>
                    <input type="text" name="memberId" id="memberId" th:placeholder="#{member.id}" required/>
                    <input class="cta-button" type="button" id="IdConBt" th:value="#{confirm.bt}">
                    <!--아이디가 존재시 가져올 email-->
                    <input type="hidden" id="getEmail">
                </div>
                 <div id="confirmEm">
                     <!--이메일 입력-->
                     <label for="email" class="input-label" th:text="#{email}">email</label>
                     <input type="email" name="email" id="email" th:placeholder="#{email}" required/>
                     <p id="emailmsg"></p>
                     <input class="cta-button" type="button" id="emCodeBt" th:value="#{em.code.bt}" disabled="disabled">
                </div>
                <div id="confirmCode">
                    <!--인증번호 입력-->
                    <input type="text" id="emailconfirm" th:placeholder="#{em.confirm}" required/>
                    <p id="emchkmsg"></p>
                    <input type="submit" class="cta-button" id="findPw" th:value="#{find.pw}" disabled="disabled">
                </div>
            </div>
        </form>
    </main>

    <!--비밃번호 찾기/회원가입 페이지로 이동-->
    <footer>
        <div class="text-group-center-row">
            <p class="footer-item">
                <a id="findId" th:href="@{/login/findId}" th:text="#{find.id}"></a>
            </p>

            <p class="footer-item">
                <a id="join" th:href="@{/join/joinForm}" th:text="#{join}"></a>
            </p>
        </div>
    </footer>
</div>
</body>
</html>