<!DOCTYPE html>
<html  class="responsive-login-page" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>findId</title>
    <!-- CSS 파일 가져오기 -->
    <link rel="stylesheet" href="/css/rurustyle.css" />
    <!-- JS 파일 가져오기 -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/javascript/member/findId.js"></script>
    <script src="/javascript/member/locale.js"></script>
</head>
<body class="login-page">
<div class="logo-title">
    <img class="logo"/>
    <p th:text="#{logo}">ソウルに触る</p>
    <!--언어 변경 버튼-->
    <select name="lang" id="lang"
            style="width: 70px; height:40px; font-size: 12px; text-align: left; padding: 0px">
        <option value="ko" id="ko" th:selected="${#locale.language == 'ko'}">한국어</option>
        <option value="ja" id="ja" th:selected="${#locale.language == 'ja'}">日本語</option>
    </select>
</div>

<div id="frame">
    <main>
        <p class="main-title" th:text="#{find.id}">findId</p>
        <!--아이디 찾기 Form-->
        <form th:action="@{/login/findId}" th:method="post">
            <!--이메일 입력-->
            <div class="input-group">
                <label for="email" class="input-label" th:text="#{email}">email</label>
                <input type="email" name="email" id="email" th:placeholder="#{email}" required/>
                <p id="emailmsg"></p>
                <div class="central-container mb-3">
                    <input class="cta-button" type="button" id="emCodeBt" th:value="#{em.code.bt}">
                </div>
            </div>
            <!--인증번호 입력-->
            <input type="text" id="emailconfirm" th:placeholder="#{em.confirm}" required/>
            <p id="emchkmsg"></p>
            <input type="submit" class="cta-button" id="findId" th:value="#{find.id}" disabled="disabled">
        </form>
    </main>

    <!--비밃번호 찾기/회원가입 페이지로 이동-->
    <footer>
        <div class="text-group-center-row">
            <p class="footer-item">
                <a id="findPw" th:href="@{/login/findPw}" th:text="#{find.pw}"></a>
            </p>

            <p class="footer-item">
                <a id="join" th:href="@{/join/joinForm}" th:text="#{join}"></a>
            </p>
        </div>
    </footer>
</div>
</body>
</html>
