<!DOCTYPE html>
<html  class="responsive-login-page" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>findIdResult</title>
    <!-- CSS 파일 가져오기 -->
    <link rel="stylesheet" href="/css/rurustyle.css" />
    <link rel="stylesheet" href="/css/language.css" />
    <!-- JS 파일 가져오기 -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/member/findId.js"></script>
</head>
<body class="login-page">

<!-- 페이지 로고 -->
<div class="pagelogo-container_find">
    <a class="pagelogo_find" href="/">
        <img class="pagelogo_img_find" src="/images/home/로고_수정.png">
        <span class="text-primary" th:text="#{logo}"></span>
    </a>
</div>

<!-- 언어변경파트 -->

<div class="new_language-toggle">
    <div class="language-selector">
        <img src="/images/home/지구본.png" alt="Globe Icon" />
        <div class="languages">
              <span
                      class="span_kor"
                      th:if="${#locale.language == 'ko'}"
                      style="font-weight: bold"
              >KOR</span
              >
            <span class="span_kor" th:if="${#locale.language != 'ko'}"
            >KOR</span
            >
            <div class="lang-separator"></div>
            <span
                    class="span_jp"
                    th:if="${#locale.language == 'ja'}"
                    style="font-weight: bold"
            >JP</span
            >
            <span class="span_jp" th:if="${#locale.language != 'ja'}"
            >JP</span
            >
        </div>
    </div>
</div>

<div id="frame">
    <main>
        <p class="main-title" th:text="#{find.id}">findId</p>

        <!-- 아이디를 못 찾았을 경우 (result가 이메일 형식일 경우) -->
        <div th:if="${#strings.contains(result, '@')}">
            <p th:text="${result}" style="color: red"></p>
            <p th:text="#{find.id.fa}"></p>
        </div>

        <!-- 아이디를 찾았을 경우 (result가 이메일 형식이 아닌 경우) -->
        <div th:unless="${#strings.contains(result, '@')}">
            <span th:text="#{find.id.su}"></span>
            <span th:text="${result}" style="color: blue; font-weight: bold"></span>
            <span th:text="#{msg}"></span>
        </div>

    </main>

    <!--비밃번호 찾기/회원가입 페이지로 이동-->
    <footer>
        <div class="text-group-center-row">
            <a th:href="@{/}" style="color: black">Home</a>
            <a th:href="@{/login/loginForm}" th:text="#{login.bt}" style="color: black"></a>
            <a th:href="@{/login/findPw}" th:text="#{find.pw}" style="color: black"></a>
        </div>
    </footer>
</div>
</body>
</html>