<!DOCTYPE html>
<html  class="responsive-login-page" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <title>회원가입 폼</title>
    <link rel="stylesheet" href="/css/rurustyle.css" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
    />
    <link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <style>
        i{
            position: absolute;
            left: 90%;
            top: 45px;
            color: black;
        }
    </style>
    <script src="https://kit.fontawesome.com/0efaee6f1c.js" crossorigin="anonymous"></script>
    <script src="/javascript/member/joinForm.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function() {
            //비밀번호 노출,숨기기 기능
            $('.input-group i').on('click',function(){
                $('#memberPw').toggleClass('active');
                if($('input').hasClass('active')){
                    $(this).attr('class', "fa-solid fa-eye")
                        .prev('input').attr('type', "text");
                }else{
                    $(this).attr('class',"fa-solid fa-eye")
                        .prev('input').attr('type','password');
                }
            });

            $('#memberId').keyup(idConfirm);
            $('#nickname').keyup(nicknameConfirm);
            $('#pwConfirm').keyup(pwConfirm);
            $('#emCertification').click(emConfirm);
/*            $('.login-form').submit(formConfirm);*/
        });
        // 아이디 유효성 겁사
        function idConfirm(){
            let id = $(this).val();
            if (id.length < 6 || id.length > 15) {
                $('#idmsg').css('color', 'red');
                $('#idmsg').html('아이디를 6~15글자로 입력해 주세요');
            } else {
                $.ajax({
                    url: 'idDuplicate',
                    type: 'post',
                    data: {id: id},
                    success: function (res) {
                        if (res) {
                            $('#idmsg').css('color', 'red');
                            $('#idmsg').html("이미 사용중인 ID입니다");
                            return false;
                        } else {
                            $('#idmsg').css('color', 'blue');
                            $('#idmsg').html("사용가능한 ID입니다.");
                            return true;
                        }
                    },
                    error: function () {
                        alert('에러');
                    }
                });
            }
        }
        // 닉네임 유효성 검사
        function nicknameConfirm(){
            let nickname = $(this).val();
            if (nickname.length < 1 || nickname.length > 10) {
                $('#nicknamemsg').css('color', 'red');
                $('#nicknamemsg').html('닉네임을 1~10글자로 입력해 주세요');
            } else {
                $('#nicknamemsg').css('color', 'blue');
                $('#nicknamemsg').html('사용 가능한 닉네임입니다.');
            }
        }
        // 비밀번호 일치 확인
        function pwConfirm(){
            let pwConfirm = $(this).val();
            let pw = $('#memberPw').val();

            console.log(pwConfirm, pw);

            if(pwConfirm == pw){
                $('#pwmsg').css('color', 'green');
                $('#pwmsg').html("비밀번호 일치");
            } else {
                $('#pwmsg').css('color', 'red');
                $('#pwmsg').html("비밀번호가 일치하지 않습니다.");
            }
        }
        // 이메일 인증 번호 전송
        function emConfirm(){
            let email = $('#email').val();

            $.ajax({
                url: 'mailConfirm',
                type: 'post',
                data: {email: email},
                success: function (code) {
                    if (code) {
                        $('#emailmsg').css('color', 'blue');
                        $('#emailmsg').html("인증 번호가 전송되었습니다.");
                        chkEmailConfirm(code);
                    }
                },
                error: function () {
                    $('#emailmsg').css('color', 'red');
                    $('#emailmsg').html("전송 실패");
                }
            });
        }
        // 이메일 인증 번호 확인
        function chkEmailConfirm(code){
            $('#emailconfirm').on("keyup", function(){
                if (code != $('#emailconfirm').val()) {
                    emconfirmchk = false;
                    $('#emchkmsg').html("<span id='emconfirmchk'>인증번호가 잘못되었습니다</span>")
                    $("#emconfirmchk").css({
                        "color" : "#FA3E3E",
                        "font-weight" : "bold",
                        "font-size" : "10px"
                    })
                } else {
                    emconfirmchk = true;
                    $('#emchkmsg').html("<span id='emconfirmchk'>인증번호 확인 완료</span>")
                    $("#emconfirmchk").css({
                        "color" : "#0D6EFD",
                        "font-weight" : "bold",
                        "font-size" : "10px"
                    })
                }
            })
        }
        //회원가입 폼 제출 내용 확인
/*        function formConfirm(){

        }*/
    </script>
</head>
<body class="responsive-login-page">
    <div class="logo-title">
        <img class="logo" src="images/화면 캡처 2024-09-01 125210.png" />
      <p>ソウルに触る</p>
    </div>
    <div class="responsive-frame">
        <main>
    <p class="main-title">会員登録</p>
<!--    &lt;!&ndash; 개잊정보 약관 &ndash;&gt;
    <div class="terms">
     <h2>dp Terms of Service</h2>
         <p class="small">개인정보 처리 약관 내용</p>
    </div>-->
    <!-- 회원가입 양식 -->
    <form class="login-form" th:action="@{/join}" th:method="post">
        <div class="input-group">
        <!--아이디-->
      <label for="memberId"  class="input-label">ID</label>
        <input type="text" name="memberId" id="memberId" placeholder="ID" required>
        <span id="idmsg" ></span>
        </div>
        <!-- 비밀번호 -->
        <div class="input-group">
        <label for="memberPw"  class="input-label">Password</label>
        <input type="password" name="memberPw" id="memberPw" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required>
            <i class="fa-solid fa-eye"></i>
        </div>
        <!--비밀번호 확인-->
        <div class="input-group">
        <label for="pwConfirm" class="input-label">Password Confirm</label>
        <input type="password" id="pwConfirm" required>

            <span id="pwmsg"></span>
        </div>
        <!--닉네임-->
        <div class="input-group">
        <label for="nickname" class="input-label">Nickname</label>
        <input type="text" name="nickname" id="nickname" placeholder="Nickname" required>
            <span id="nicknamemsg"></span>
        </div>
        <!--연령대-->
        <div class="input-group">
        <label for="age" class="input-label">Age</label>
            <select id="age" name="age" ckass="input=select" required>
                <option value="">Age</option>
                <option value="10">10대</option>
                <option value="20">20대</option>
                <option value="30">30대</option>
                <option value="40">40대</option>
                <option value="50">50대</option>
                <option value="60">60대</option>
            </select>
        </div>
        <div class="input-group">
      <label for="email" class="input-label">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" required>
        <input type="button" id="emCertification" value="認証">
            <span id="emailmsg"></span>
        </div>
        <div class="form-group last mb-4 check_input">
            <input type="text" class="form-control" id="emailconfirm" placeholder="인증번호를 입력해주세요" required>
            <span id="emchkmsg"></span>
        </div>
        <div class="box-clause-round">
            <div class="clause-item">
      <input type="checkbox" id="agree" required>
     <label for="agree">I agree to the <i class="fa fa-arrow-left"  aria-hidden="true"></i><a class="agree" href="#">Terms of service</a></label>
            </div>
        </div>
                <div id="form-controls">
         <button type="submit">Sign Up</button>
     </div>
    </form>
</body>
</html>
