<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>회원가입 폼</title>
    <link rel="stylesheet" href="/css/member/joinForm.css">
    <script src="/javascript/member/joinForm.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function() {

            $('#memberId').keyup(function () {
                let id = $(this).val();
                if (id.length < 6 || id.length > 15) {
                    $('#msg').css('color', 'red');
                    $('#msg').html('아이디를 6~15글자로 입력해 주세요');
                } else {
                    $.ajax({
                        url: 'idDuplicate',
                        type: 'post',
                        data: {id: id},
                        success: function (res) {
                            if (res) {
                                $('#msg').css('color', 'red');
                                $('#msg').html("이미 사용중인 ID입니다");
                            } else {
                                $('#msg').css('color', 'blue');
                                $('#msg').html("사용가능한 ID입니다.");
                            }
                        },
                        error: function () {
                            alert('에러');
                        }
                    });
                }
            });
        });
    </script>
</head>
<body>
    <h3>Register</h3>
    <!-- 개잊정보 약관 -->
    <div class="terms">
     <h2>dp Terms of Service</h2>
         <p class="small">개인정보 처리 약관 내용</p>
    </div>
    <!-- 회원가입 양식 -->
    <form class="joinForm" th:action="@{/join}" method="post">
        <!--아이디-->
      <label for="memberId">ID</label>
        <input type="text" name="memberId" id="memberId" placeholder="ID">
        <span id="msg" ></span><br>
        <label for="memberPw">Password</label>
        <input type="password" name="memberPw" id="memberPw" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
        <br>
        <label for="pwConfirm">Password Confirm</label>
        <input type="password" id="pwConfirm">
        <br>
        <label for="nickname">닉네임</label>
        <input type="text" name="nickname" id="nickname" placeholder="Nickname">
        <br>
        <label for="age">나이</label>
        <input type="text" name="age" id="age" placeholder="Age">
        <br>
      <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="button" id="emCertification" value="認証">
        <br>
      <input type="checkbox" name="agree" id="agree">
     <label for="agree">I agree to the <i class="fa fa-arrow-left"  aria-hidden="true"></i><a class="agree" href="#">Terms of service</a></label>
     <div id="form-controls">
         <button type="submit">Sign Up</button>
     </div>
    </form>
</body>
</html>
