<!DOCTYPE html>
<html class="login-page"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8" />
    <title>로그인 폼</title>
    <link rel="stylesheet" href="/css/rurustyle.css" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
    />
</head>

<body class="login-page">
<div class="logo-title">
    <img class="logo" src="images/화면 캡처 2024-09-01 125210.png" />
    <p>ソウルに触る</p>
</div>
<div id="frame">
    <main>
        <p class="main-title">Login</p>
        <form class="login-form" th:action="@{/member/login}" method="post">
            <div class="subtitle mb-5">より完璧な旅行のために</div>

            <div class="input-group me-5">
                <label for="memberId" class="input-label ms-1">ID</label>
                <input
                        type="text"
                        class="input"
                        id="memberId"
                        name="memberId"
                        autocomplete="off"
                        placeholder="Id"
                />
            </div>
            <div class="input-group">
                <label for="memberPw" class="input-label">PW</label>
                <input
                        type="password"
                        class="input"
                        id="memberPw"
                        name="memberPw"
                        autocomplete="off"
                        placeholder="Password"
                />
            </div>
            <div class="central-container mb-3">
                <input type="checkbox" class="checkbox" id="remember_id" />
                <label for="remember_id">Remember Id</label>
            </div>
            <div class="central-container mb-3">
                <input type="submit" class="button cta-button" value="로그인" />
            </div>
        </form>
    </main>
    <footer>
        <div class="text-group-center-row">
            <p class="footer-item">
                <a id="findId" th:href="@{/login/findId}">IDの検索</a>
            </p>
            <p class="footer-item">
                <a id="findPw" th:href="@{/login/findPw}">PWの検索</a>
            </p>
            <p class="footer-item">아직 회원이 아니신가요?</p>
            <p class="footer-item">
                <a id="join" th:href="@{/join/joinForm}">회원가입</a>
            </p>
        </div>
    </footer>
</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
        crossorigin="anonymous"
></script>
</body>
</html>
