<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>오디세이 테스트</title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#route').click(searchPubTransPathAJAX);
        });

        function searchPubTransPathAJAX() {
            alert("실행됨");
            var xhr = new XMLHttpRequest();
            var url = "https://api.odsay.com/v1/api/searchPubTransPathT?SX=127.0979006&SY=37.51135169&EX=126.9865899&EY=37.56196326&apiKey=AbfWDSywAKWcKBRv/ClpFQ";
            xhr.open("GET", url, true);
            xhr.send();
            xhr.onreadystatechange = function() {

                if (xhr.readyState == 4 && xhr.status == 200) {
/*                    $('#result').text(xhr.responseText);*/
                    console.log(xhr.responseText);
                     // <- xhr.responseText 로 결과를 가져올 수 있음
                }
            }
        }
    </script>
</head>
<body>
    <h1>실행됨</h1>
    <button id="route">클릭</button>
    <pre id="result"></pre>
</body>
</html>