<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="/images/favicon.png">

    <meta name="description" content="" />
    <!--페이지 틀-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--위치 아이콘-->
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <!--귀여운 폰트// 그러나 언어 변경 버튼에 영향을 줌-->
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="/css/language.css" />
    <title>플랜 공유 게시판</title>
</head>
<body>
<header>
    <!--로고-->
    <!-- 언어변경파트 -->
    <div class="select-container">
        <div class="lenge_select-toggle">
            <div class="language-selector">
                <img src="/images/home/지구본.png" alt="Globe Icon" />
                <div class="languages">
                    <span class="span_kor" th:if="${#locale.language == 'ko'}" style="font-weight: bold;">KOR</span>
                    <span class="span_kor" th:if="${#locale.language != 'ko'}">KOR</span>
                    <div class="lang-separator"></div>
                    <span class="span_jp"  th:if="${#locale.language == 'ja'}" style="font-weight: bold;">JP</span>
                    <span class="span_jp"  th:if="${#locale.language != 'ja'}">JP</span>
                </div>
            </div>
        </div>
</header>
<main>
    <div class="untree_co-section">
        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-lg-6">
                    <h2 class="section-title text-center mb-3" style="text-align: center;"
                    th:text="#{share_plan}"></h2>
                    <p th:text="#{share_plan_mg}"></p>
                </div>
            </div>
            <div class="row">

                <div th:each="board, status : ${boardPage}" class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="media-1">
                        <a href="#" class="d-block mb-3"><img th:src="${board.coverImageUrl}" alt="Image" class="img-fluid"></a>
                        <span class="d-flex align-items-center loc mb-2">
							<div>
                             <span class="icon-room mr-3"></span>    <!--위치 아이콘을 하트 아이콘으로 변경-->
							<span th:text="${board.likeCount}">좋아요 수</span>
                            </div>
                            <span class="icon-room mr-3"></span>    <!--스크랩 아이콘-->
						</span>
                        <div class="d-flex align-items-center">
                            <div>
                                <h3><a href="#" th:text="${board.title}"></a></h3>
                                <div class="price ml-auto">
                                    <span th:text="${board.tag1}">#몇박며칠</span>
                                    <span  th:text="${board.tag2}">#누구와</span>
                                    <span  th:text="${board.tag3}">#테마</span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="media-1">
                        <a href="#" class="d-block mb-3"><img th:src="@{/images/plan/음식거리.jpg}" alt="Image" class="img-fluid"></a>
                        <span class="d-flex align-items-center loc mb-2">
							<span class="icon-room mr-3"></span>
							<span>좋아요 수</span>
						</span>
                        <div class="d-flex align-items-center">
                            <div>
                                <h3><a href="#">플랜이름</a></h3>
                                <div class="price ml-auto">
                                    <span>#몇박며칠</span>
                                    <span>#누구와</span>
                                    <span>#테마</span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="media-1">
                        <a href="#" class="d-block mb-3"><img th:src="@{/images/plan/단풍성곽.jpg}" alt="Image" class="img-fluid"></a>
                        <span class="d-flex align-items-center loc mb-2">
							<span class="icon-room mr-3"></span>
							<span>좋아요 수</span>
						</span>
                        <div class="d-flex align-items-center">
                            <div>
                                <h3><a href="#">플랜이름</a></h3>
                                <div class="price ml-auto">
                                    <span>#몇박며칠</span>
                                    <span>#누구와</span>
                                    <span>#테마</span>                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="media-1">
                        <a href="#" class="d-block mb-3"><img th:src="@{/images/plan/경복궁.jpg}" alt="Image" class="img-fluid"></a>

                        <span class="d-flex align-items-center loc mb-2">
							<span class="icon-room mr-3"></span>
							<span>좋아요 수</span>
						</span>

                        <div class="d-flex align-items-center">
                            <div>
                                <h3><a href="#">플랜이름</a></h3>
                                <div class="price ml-auto">
                                    <span>#몇박며칠</span>
                                    <span>#누구와</span>
                                    <span>#테마</span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/member/locale.js"></script>
</body>
</html>