<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="/images/favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/rurustyle.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/css/daterangepicker.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>플랜 공유 게시판</title>
</head>
<body>
<header>
    <!--로고-->
    <!--언어 변경 버튼-->
</header>
<main>
    <div class="untree_co-section">
        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-lg-6">
                    <h2 class="section-title text-center mb-3" style="text-align: center;">Plan Share &amp; Talk</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="media-1">
                        <a href="#" class="d-block mb-3"><img src="images/hero-slider-1.jpg" alt="Image" class="img-fluid"></a>
                        <span class="d-flex align-items-center loc mb-2">
							<div>
                             <span class="icon-room mr-3"></span>    <!--위치 아이콘을 하트 아이콘으로 변경-->
							<span>좋아요 수</span>
                            </div>
                            <span class="icon-room mr-3"></span>    <!--스크랩 아이콘-->
						</span>
                        <div class="d-flex align-items-center">
                            <div>
                                <h3><a href="#">플랜이름</a></h3>
                                <div class="price ml-auto">
                                    <span>#몇박며칠</span>
                                    <span>#누구와</span>
                                    <span>#테마</span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="media-1">
                        <a href="#" class="d-block mb-3"><img src="images/hero-slider-2.jpg" alt="Image" class="img-fluid"></a>
                        <span class="d-flex align-items-center loc mb-2">
							<span class="icon-room mr-3"></span>
							<span>좋아요 수</span>
						</span>
                        <div class="d-flex align-items-center">
                            <div>
                                <h3><a href="#">플랜이름</a></h3>
                                <div class="price ml-auto">
                                    <span>#몇박며칠</span>
                                    <span>#누구와</span>
                                    <span>#테마</span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="media-1">
                        <a href="#" class="d-block mb-3"><img src="images/hero-slider-3.jpg" alt="Image" class="img-fluid"></a>
                        <span class="d-flex align-items-center loc mb-2">
							<span class="icon-room mr-3"></span>
							<span>좋아요 수</span>
						</span>
                        <div class="d-flex align-items-center">
                            <div>
                                <h3><a href="#">플랜이름</a></h3>
                                <div class="price ml-auto">
                                    <span>#몇박며칠</span>
                                    <span>#누구와</span>
                                    <span>#테마</span>                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="media-1">
                        <a href="#" class="d-block mb-3"><img src="images/hero-slider-4.jpg" alt="Image" class="img-fluid"></a>

                        <span class="d-flex align-items-center loc mb-2">
							<span class="icon-room mr-3"></span>
							<span>좋아요 수</span>
						</span>

                        <div class="d-flex align-items-center">
                            <div>
                                <h3><a href="#">플랜이름</a></h3>
                                <div class="price ml-auto">
                                    <span>#몇박며칠</span>
                                    <span>#누구와</span>
                                    <span>#테마</span>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>