<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">

    <meta name="description" content="" />

    <!-- 파비콘 -->
    <link rel="icon" href="/images/home/logo_favicon_512.png">
    <link rel="apple-touch-icon" href="/images/home/logo_favicon_512.png">


    <link rel="stylesheet" href="/css/home.css" />
    <!--페이지 틀-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--위치 아이콘-->
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <!--귀여운 폰트// 그러나 언어 변경 버튼에 영향을 줌-->
    <link rel="stylesheet" href="/css/style.css">
    <!--태그 검색 버튼-->
    <link rel="stylesheet" href="/css/button.css">
    <!--언어버튼-->
    <link rel="stylesheet" href="/css/language.css" />
    <title>플랜 공유 게시판</title>
    <style>
        /* 한국어일 때 폰트 */
        html[lang="ko"] {
            font-family: 'NanumSquareRound', sans-serif;
        }
        /* 일본어일 때 폰트 */
        html[lang="ja"] {
            font-family: 'korur', sans-serif;
        }

    </style>
</head>
<body>
<!--alert msg-->
<input type="hidden" id="saveMsg" th:value="#{save_plan}">
<header>
    <nav class="site-nav">
        <div class="site-navigation">
            <!-- 로고 -->
            <div class="logo-container">
                <a class="logo"  href="/">
                    <img class="logo_img" src="/images/home/로고_수정.png" />
                    <span class="text-primary" th:text="#{logo}"></span>
                </a>
            </div>
            <!-- 네비바  로그인x 로그인,조인  로그인o 로그아웃,마이페이지-->
            <ul class="site-menu">
                <li sec:authorize="isAuthenticated()">

                    <a th:href="@{/myPage}" th:text="#{mypage}"></a>
                </li>

                <li><a th:href="@{/planBoard/list}" th:text="#{plan_board}"></a></li>
                <li><a th:href="@{/board/list}" th:text="#{board}"></a></li>

                <li sec:authorize="not isAuthenticated()">
                    <a th:href="@{/login/loginForm}" th:text="#{login.bt}"></a>
                    <a id="join" th:href="@{/join/joinForm}" th:text="#{join}"></a>
                </li>

                <li sec:authorize="isAuthenticated()">
                    <a th:href="@{/member/logout}" th:text="#{logout}"></a>
                </li>

            </ul>

            <!-- 날씨정보 박스 -->
            <div class="weather_box">
                <div id="weather_icon">
                    <!-- 이모티콘자리 -->
                    <img class="weather_icon_set" id="weather" src="/images/home/날씨기본.png" />
                </div>
                <!-- 온도 -->
                <span class="temperature" id="tem"> -°C</span>
                <!-- 습도 -->
                <span class="humidity" id="hum"> -%</span>
            </div>

            <!-- 언어변경파트 -->

            <div class="lenge_select-toggle">
                <div class="language-selector">
                    <img src="/images/home/지구본.png" alt="Globe Icon" />
                    <div class="languages">
              <span
                      class="span_kor"
                      th:if="${#locale.language == 'ko'}"
                      style="font-weight: bold"
              >KOR</span
              >
                        <span class="span_kor" th:if="${#locale.language != 'ko'}"
                        >KOR</span
                        >
                        <div class="lang-separator"></div>
                        <span
                                class="span_jp"
                                th:if="${#locale.language == 'ja'}"
                                style="font-weight: bold"
                        >JP</span
                        >
                        <span class="span_jp" th:if="${#locale.language != 'ja'}"
                        >JP</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <!--제목-->
    <div class="row justify-content-center text-center mb-5">
        <div class="title">
            <h2 class="section-title text-center mb-3" style="text-align: center;"
                th:text="#{share_plan}"></h2>
            <p th:text="#{share_plan_mg}"></p>
        </div>
    </div>
    <!-- 버튼들 -->
    <div class="button-container">
        <!-- 계절 -->
        <div class="button -regular center" data-tag="spring" id="btn-spring" th:text="#{spring}"></div>
        <div class="button -regular center" data-tag="summer" id="btn-summer" th:text="#{summer}"></div>
        <div class="button -regular center" data-tag="fall" id="btn-fall" th:text="#{fall}"></div>
        <div class="button -regular center" data-tag="winter" id="btn-winter" th:text="#{winter}"></div>

        <!-- 기간 -->
        <div class="button -regular center" data-tag="2days" id="btn-2days" th:text="#{2days}"></div>
        <div class="button -regular center" data-tag="3days" id="btn-3days" th:text="#{3days}"></div>
        <div class="button -regular center" data-tag="4days" id="btn-4days" th:text="#{4days}"></div>
        <div class="button -regular center" data-tag="5days" id="btn-5days" th:text="#{5days}"></div>
        <div class="button -regular center" data-tag="6days" id="btn-6days" th:text="#{6days}"></div>

        <!-- 여행 타입 -->
        <div class="button -regular center" data-tag="trip_type1" id="btn-trip-type1" th:text="#{trip_type1}"></div>
        <div class="button -regular center" data-tag="trip_type2" id="btn-trip-type2" th:text="#{trip_type2}"></div>
        <div class="button -regular center" data-tag="trip_type3" id="btn-trip-type3" th:text="#{trip_type3}"></div>
        <div class="button -regular center" data-tag="trip_type4" id="btn-trip-type4" th:text="#{trip_type4}"></div>
        <div class="button -regular center" data-tag="kids" id="btn-kids" th:text="#{kids}"></div>

        <!-- 테마 -->
        <div class="button -regular center" data-tag="theme1" id="btn-theme1" th:text="#{theme1}"></div>
        <div class="button -regular center" data-tag="theme2" id="btn-theme2" th:text="#{theme2}"></div>
        <div class="button -regular center" data-tag="theme3" id="btn-theme3" th:text="#{theme3}"></div>
        <div class="button -regular center" data-tag="theme4" id="btn-theme4" th:text="#{theme4}"></div>
        <div class="button -regular center" data-tag="theme5" id="btn-theme5" th:text="#{theme5}"></div>
        <div class="button -regular center" data-tag="theme6" id="btn-theme6" th:text="#{theme6}"></div>
        <div class="button -regular center" data-tag="theme7" id="btn-theme7" th:text="#{theme7}"></div>
        <div class="button -regular center" data-tag="theme8" id="btn-theme8" th:text="#{theme8}"></div>
        <div class="button -regular center" data-tag="theme9" id="btn-theme9" th:text="#{theme9}"></div>
        <div class="button -regular center" data-tag="theme9_1" id="btn-theme9-1" th:text="#{theme9_1}"></div>
        <div class="button -regular center" data-tag="theme9_2" id="btn-theme9-2" th:text="#{theme9_2}"></div>
        <div class="button -regular center" data-tag="theme9_3" id="btn-theme9-3" th:text="#{theme9_3}"></div>
    </div>


    <!-- 플랜 리스트 -->
    <div class="untree_co-section">
        <div class="container">
            <div class="row" id="plan-board-list">
                <!-- 여기서 JavaScript로 리스트가 동적으로 그려짐 -->
            </div>
        </div>
    </div>
</main>
<input type="hidden" id="lang" th:value="${#locale.language}">

<!-- i18next CDN -->
<script src="https://unpkg.com/i18next@21.6.3/dist/umd/i18next.min.js"></script>


<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/member/locale.js"></script>
<script src="/js/weather/nowWeather.js"></script>
<script src="/js/planBoard.js"></script>
<script src="/js/tag.js"></script>


</body>
</html>