<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{mypage}"></title>
    <meta name="_csrf" content="your-csrf-token">
    <meta name="_csrf_header" content="X-CSRF-TOKEN">

    <!-- CSS 파일 가져오기 -->
    <link rel="stylesheet" href="/css/mypage.css" />
</head>

<body>
<!-- 헤더 -->
<header class="header-container">
    <div class="mypag-main-title">마이 페이지</div>
    <div class="mypage_sidemenu">
        <a href="#" th:text="#{logout}"></a>
        <a href="#" th:text="#{community}"></a>
    </div>
</header>

<!-- 메인 컨테이너 -->
<main class="main_mypage">
    <!-- 왼쪽 사이드바 -->
    <aside class="mypage-left">
        <div class="userinfo">
            <div class="profile-img-container">
                <img th:src="${member.profileImageUrl != null ? member.profileImageUrl : '/images/mypage/기본프사.jpg'}"
                     class="profile-img" alt="Profile Image" />

                <!-- 숨겨진 파일 입력 필드 -->
                <input type="file" id="imageInput" style="display:none" accept="image/*" />

                <!-- 프로필 수정 버튼 -->
                <button class="profile-edit-button">변경</button>
            </div>

            <div class="profile-name" th:text="${member.nickname}"></div>
            <div class="profile-email" th:text="${member.email}"></div>
        </div>
    </aside>



    <!-- 메인 프로필 정보 -->
    <div class="info area">
        <div class="profile-grid">
            <!-- 첫 번째 줄 -->
            <div class="profile-item"> <a th:href="@{/myPage/myPlanList}">내 일정</a></div>
            <div class="profile-item">공유한 일정</div>
            <div class="profile-item">개인정보 수정</div>
        </div>
    </div>
</main>
<script src="/js/mypage.js"></script>
</body>
</html>
