<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{mypage}"></title>
    <meta name="_csrf" content="your-csrf-token">
    <meta name="_csrf_header" content="X-CSRF-TOKEN">

    <link rel="icon" href="/images/home/logo_favicon_512.png">
    <link rel="apple-touch-icon" href="/images/home/logo_favicon_512.png">

    <!-- CSS 파일 가져오기 -->
    <link rel="stylesheet" href="/css/mypage.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/language.css" />
</head>

<body>
<nav class="site-nav">
    <div class="site-navigation">
        <!-- 로고 -->
        <div class="logo-container">
            <a class="logo" href="/">
                <img class="logo_img" src="/images/home/로고_수정.png" />
                <span class="text-primary" th:text="#{logo}"></span>
            </a>
        </div>
        <!-- 네비바  로그인x 로그인,조인  로그인o 로그아웃,마이페이지-->
        <ul class="site-menu">
            <li sec:authorize="isAuthenticated()">

                <a th:href="@{/myPage}" th:text="#{mypage}"></a>
            </li>

            <li><a th:href="@{/planBoard/list}" th:text="#{plan_board}"></a></li>
            <li><a th:href="@{/board/list}" th:text="#{board}"></a></li>

            <li sec:authorize="not isAuthenticated()">
                <a th:href="@{/login/loginForm}" th:text="#{login.bt}"></a>
                <a id="join" th:href="@{/join/joinForm}" th:text="#{join}"></a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/member/logout}" th:text="#{logout}"></a>
            </li>

        </ul>

        <!-- 날씨정보 박스 -->
        <div class="weather_box">
            <div id="weather_icon">
                <!-- 이모티콘자리 -->
                <img class="weather_icon_set" id="weather" src="/images/home/날씨기본.png" />
            </div>
            <!-- 온도 -->
            <span class="temperature" id="tem"> -°C</span>
            <!-- 습도 -->
            <span class="humidity" id="hum"> -%</span>
        </div>

        <!-- 언어변경파트 -->
        <div class="lenge_select-toggle">
            <div class="language-selector">
                <img src="/images/home/지구본.png" alt="Globe Icon" />
                <div class="languages">
              <span
                      class="span_kor"
                      th:if="${#locale.language == 'ko'}"
                      style="font-weight: bold"
              >KOR</span
              >
                    <span class="span_kor" th:if="${#locale.language != 'ko'}"
                    >KOR</span
                    >
                    <div class="lang-separator"></div>
                    <span
                            class="span_jp"
                            th:if="${#locale.language == 'ja'}"
                            style="font-weight: bold"
                    >JP</span
                    >
                    <span class="span_jp" th:if="${#locale.language != 'ja'}"
                    >JP</span
                    >
                </div>
            </div>
        </div>
    </div>
</nav>


<!-- 메인 컨테이너 -->
<main class="main_mypage">
    <!-- 왼쪽 사이드바 -->
    <aside class="mypage-profile">
        <div class="userinfo">
            <div class="profile-img-container">
                <img th:src="${member.profileImageUrl != null ? member.profileImageUrl : '/images/mypage/기본프사.jpg'}"
                     class="profile-img" alt="Profile Image" />

                <!-- 숨겨진 파일 입력 필드 -->
                <input type="file" id="imageInput" style="display:none" accept="image/*" />

                <!-- 프로필 수정 버튼 -->
                <img class="profile-edit-button" th:src="@{/images/mypage/edit-button-pen.png}">
            </div>

            <div class="profile-name" th:text="${member.nickname}"></div>
            <div class="profile-email" th:text="${member.email}"></div>
        </div>
    </aside>

    <!-- 메인 프로필 정보 -->
    <div class="info area">
            <div class="myPage-main-area">
                <!-- 첫 번째 줄 -->
                <div class="myPage-main-item"><a th:href="@{/myPage/myPlanList}">
                        <h3 class="myPage-main-item-myPlan" th:text="#{my_plan}"></h3></a>
                </div>
                <div class="myPage-main-item"><a th:href="@{/myPage/bookmarks}">
                        <h3 class="myPage-main-item-myPlan" th:text="#{save_plan}"></h3></a>
                </div>
                <div class="myPage-main-item"><a href="#">
                        <h3 class="myPage-main-item-myPlan" th:text="#{update_myinfo}"></h3></a>
                </div>
            </div>
    </div>

</main>


<div class="modal-picture-example">
    <span class="letters-in-modal-picture">아이</span>
</div>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/member/locale.js"></script>
<script src="/js/mypage.js"></script>
<script src="/js/myPlanList.js"></script>
<script src="/js/weather/nowWeather.js"></script>
</body>
</html>
