<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <!--페이지 틀-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--위치 아이콘-->
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <!--귀여운 폰트// 그러나 언어 변경 버튼에 영향을 줌-->
    <link rel="stylesheet" href="/css/style.css">
    <!--태그버튼-->
    <link rel="stylesheet" href="/css/button.css">

    <link rel="stylesheet" href="/css/language.css" />
    <title>나의 플랜 목록</title>
    <meta name="_csrf" content="your-csrf-token">
    <meta name="_csrf_header" content="X-CSRF-TOKEN">

    <!-- 파비콘 -->
    <link rel="icon" href="/images/home/logo_favicon_512.png">
    <link rel="apple-touch-icon" href="/images/home/logo_favicon_512.png">

    <!-- CSS 파일 가져오기 -->
    <link rel="stylesheet" href="/css/mypage.css" />
</head>
<body>
<!--alert msg-->
<hidden th:text="#{share_confirm}" id="shareMsg"></hidden>

<!-- 헤더 -->
<header class="header-container">

    <div class="mypag-main-title">마이 페이지</div>
    <div class="mypage_sidemenu">
        <a th:href="@{/member/logout}" th:text="#{logout}"></a>
        <a href="#" th:text="#{community}">커뮤니티</a>
    </div>
</header>

<!-- 메인 컨테이너 -->
<main class="main_mypage">
    <!-- 왼쪽 사이드바 -->
    <aside class="mypage-left">
        <div class="userinfo" th:each="member : ${member}">
            <div class="profile-img-container">
                <img th:src="${member.profileImageUrl != null ? member.profileImageUrl : '/images/mypage/기본프사.jpg'}"
                     class="profile-img" alt="Profile Image" />

                <!-- 숨겨진 파일 입력 필드 -->
                <input type="file" id="imageInput" style="display:none" accept="image/*" />

                <!-- 프로필 수정 버튼 -->
                <button class="profile-edit-button">변경</button>
            </div>

            <div class="profile-name" th:text="${member.nickname}"></div>
            <div class="profile-email" th:text="${member.email}"></div>
        </div>
    </aside>

    <!-- 플랜 정보 -->
    <div class="container">
        <!--플랜 불러오기-->
        <div class="row">
            <div th:each="plan, status : ${myPlanList}" class="col-6 col-sm-6 col-md-6 col-lg-3 mb-4 mb-lg-0">

                <!--플랜 커버-->
                <div class="media-1">
                    <a th:href="@{/myPage/myPlan/{planNum}(planNum=${plan.planNum})}" class="d-block mb-3">
                        <img th:src="${plan.coverImageUrl}" alt="Image" class="img-fluid">
                    </a>
                </div>
                <!--플랜 명, 태그-->
                <div class="d-flex align-items-center">
                    <div>
                        <div class="d-flex align-items-center loc mb-2">
                            <!--플랜명-->
                            <h3><a th:href="@{/myPage/myPlan/{planNum}(planNum=${plan.planNum})}" th:text="${plan.planName}"></a></h3>
                            <!--플랜 공유 이미지-->
                            <a class="sharePlan" th:data-plan-num="${plan.planNum}">
                                <img th:src="@{/images/upload.png}"
                                     style="float: right;  margin-right: 0px; margin-bottom: 5px; height: 25px; width: 25px;">
                            </a>
                        </div>
                            <!--일정-->
                            <span class="d-flex align-items-center loc mb-2">
					    <div>
                            <span th:text="${plan.startDate}"></span>
                            <span>  ~  </span>
							<span th:text="${plan.endDate}"></span>
                        </div>
				        </span>
                        <!--태그-->
                        <div class="price ml-auto" style="border-bottom: 100px">
                            <span>#<span th:text="#{${plan.theme1}}">테마1</span></span>
                            <span>#<span  th:text="#{${plan.theme2}}">테마2</span></span>
                            <span>#<span  th:text="#{${plan.theme3}}">테마3</span></span>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/mypage.js"></script>
<script src="/js/myPlanList.js"></script>
</body>
</html>