.plan-head {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-direction: row;
    text-align: center;
}


.day-buttons, .theme-buttons-div {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-direction: row;
    text-align: center;
}
.days {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.theme-buttons {
    padding: 5px;
    border-radius: 5px;
}

.theme-buttons:hover {
    background-color: aqua;
}

.day-plans-table {
    margin-bottom: 20px;
    border-top: solid 2px grey;
    border-bottom: solid 2px grey;
    width: 100%;
}

tr.selected {

    background-color: #ffe6e6;
}

.day-plans-dayTitle {
    background-color: pink;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.day-table-tr1 {
    border-bottom: 1px solid grey;

}
.day-plans-totalCost {
    position: absolute;
    right: 30%;
}

#totalCost {
    position: absolute;
    padding-right: 5px;
    right: 0%;
    text-align: right;
}

.day-table-td-cost {
    text-align: right;
    padding: 0px;
}

.day-table-td-cost input {
    border: none;
    width: 70px;
    text-align: right;
    margin: 0px;
    background-color: white;
}

.day-table-td-cost input:focus {
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(192, 192, 192, 0.5), 0 0 15px rgba(255, 255, 255, 0.8);
}

.editImgButton {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.deleteImgButton {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.day-table-td-editImgButton {
    padding: 0px;
}

.day-table-td-deleteImgButton {
    padding: 0px;
}

.placeInfoList {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.placeInfo-Modal {
    display: none;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items : center;
    background-color: white;
    margin-top: 10px;
}

.badge-explain {
    display: none;
    position : absolute;
    background-color : rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    pointer-events: none;
    color: grey;
    text-align: left;
}

.badges {
    margin-bottom: 10px;
}