body {
    /* 기본 글꼴, 줄 높이, 배경 색상, 오버플로우 설정 */
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 14px;
}

.bg-primary {
    /* 주요 배경 색상을 설정 */
    background-color: #1a374d !important;
}

.text-black {
    /* 검은색 텍스트 설정 */
    color: #000000 !important;
}

a {
    /* 링크 색상 및 전환 효과 */
    color: #1a374d;
    transition: 0.3s all ease;
}

a:hover {
    /* 링크 호버 시 색상 유지 및 밑줄 제거 */
    color: #1a374d;
    text-decoration: none;
}

.text-primary {
    /* 주요 색상의 텍스트 설정 */
    color: #1a374d !important;
}

a.text-primary:hover {
    /* 주요 색상의 텍스트 링크 호버 시 색상 유지 */
    color: #1a374d !important;
}

h1,
h2,
h3,
h4 {
    /* 제목 폰트 설정 */
    font-family: "Source Serif Pro", serif;
}

.btn {
    /* 버튼 패딩, 테두리 반경 및 글꼴 크기 설정 */
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 14px;
}

.btn.btn-primary {
    /* 기본 버튼 색상 및 테두리 색상 설정 */
    background: #1a374d;
    border-color: #1a374d;
}

.btn.btn-primary:hover {
    /* 버튼 호버 시 색상 변경 */
    border-color: #1f425c;
    background: #1f425c;
}

.form-control,
.custom-select {
    /* 입력 폼과 선택 박스의 테두리 및 크기 설정 */
    border: 2px solid #e9ecef;
    font-size: 16px;
    height: 45px;
}

.form-control:focus,
.custom-select:focus {
    /* 포커스된 입력 필드의 테두리 색상 및 그림자 제거 */
    border-color: #1a374d;
    box-shadow: none;
}

.spinner-border {
    /* 로딩 스피너 색상 설정 */
    color: #1a374d;
}

#overlayer {
    /* 화면을 덮는 레이어 설정 */
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 7100;
    background: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.loader {
    /* 로더의 위치를 화면 중앙에 고정 */
    z-index: 7700;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.position-relative {
    /* 요소의 상대적인 위치 설정 */
    position: relative;
}

/* 로고 컨테이너 설정 */
.logo-container {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-left: -190px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo_img {
  width: 80px;
    height: 80px;
    margin-right: 20px;
    margin-left: 20px;
}

.logo span {
    font-size: 40px;
    color: #000000;
    font-weight: 700;
}

#lang {
    margin-left: 10px !important;
}

.site-nav {
    /* 네비게이션 바의 위치 및 스타일 설정 */
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: -90px; /* 메뉴바와 아래 요소 사이의 간격 추가 */
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 10px 20px;
    align-items: center;

}

.site-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.site-menu li {
    margin-left: 5px;
}

.site-menu li a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    padding: 10px;
}

.site-menu li a:hover {
    color: #f40000;
}

.site-nav .site-menu > li > a {
    font-size: 14px;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.site-nav .site-menu > li > a:hover {
    color: #f40000;
}

.site-nav .site-menu > li.cta-button a {
    padding: 6px 20px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    color: #000000;
    border-radius: 30px;
}

.site-nav .site-menu > li.cta-button a:hover {
    color: #d6b9b9;
    background: #1a374d;
    border-color: #1a374d;
}

.site-nav .site-menu > li.active > a {
    color: #000000;
}

.site-nav .site-menu .has-children {
    position: relative;
}

.site-nav .site-menu .has-children > a {
    position: relative;
    padding-right: 20px;
}

.site-nav .site-menu .has-children:hover > .dropdown {
    visibility: visible;
    opacity: 1;
}

.site-nav .site-menu .has-children .dropdown {
    visibility: hidden;
    opacity: 0;
    top: 100%;
    z-index: 999;
    position: absolute;
    text-align: left;
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px 0;
    margin-top: 20px;
    margin-left: 0px;
    background: #ffffff;
    transition: 0.2s 0s;
}

.site-nav .site-menu .has-children .dropdown a {
    font-size: 14px;
    text-transform: none;
    letter-spacing: normal;
    transition: 0s all;
    color: #000000;
}

.site-nav .site-menu .has-children .dropdown > li {
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 180px;
}

.site-nav .site-menu .has-children .dropdown > li > a {
    padding: 5px 20px;
    display: block;
}

.site-nav .site-menu .has-children .dropdown > li > a:hover {
    color: #1a374d;
}

.site-nav .site-menu .has-children:hover > .dropdown,
.site-nav .site-menu .has-children:focus > .dropdown,
.site-nav .site-menu .has-children:active > .dropdown {
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
}

/* 날씨 박스  */
.weather_box {
    display: flex;
    align-items: center;
    margin-right: -400px;
}

.weather_icon_set {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.temperature {
    font-size: 14px;
    color: rgb(0, 0, 0);
}

.humidity {
    font-size: 14px;
    color: #edbbbb;
    margin-left: 5px;
}

/* 언어 선택 토글 */
.language-selector {
    border: 2px solid black;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin-left: 250px; /* 날씨 정보와 언어 선택 버튼 간격 */
}

.language-selector img {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.languages {
    display: flex;
    align-items: center;
}

.separator {
    border-left: 1px solid rgb(0, 0, 0);
    height: 16px;
    margin: 0 5px;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: #ffffff;
}

.hero h1 {
    color: #000000;
    font-size: 60px;
}

/*.hero h1 .typed-words:before {*/
/*    position: absolute;*/
/*    height: 7px;*/
/*    background-color: #a6dbe8;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    content: "";*/
/*    width: 380px;*/
/*}*/

.hero .intro-wrap {
    position: relative;
    z-index: 1;
    top: 20px !important;
    left: -180px !important;
    width: 700px;
}

.hero .slides {
    background: #000000;
    top: 150px !important;
    left: -300px !important;
    z-index: 0;
    position: relative;
    box-shadow: 0 25px 50px -10px rgba(26, 55, 77, 0.4);
    width: 880px;
    height: 450px;
}

.hero .slides img {
    position: absolute;
    opacity: 0;
    transition: 4s opacity ease;
    width: 880px;
    height: 450px;
}

.hero .slides img.active {
    opacity: 1;
    z-index: 1;
}

.home-select-button-container {
    display: flex;
    top: 300px !important;
    position: absolute;
    right: 400px !important;
    gap: 30px;
}

.home-select-button {
    width: 200px;
    height: 80px;
    background-color: rgb(0, 0, 0, 0.72);
}

.home-button-text {
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.lenge_select {
    position: absolute;
    top: 30px;
    left: 1380px !important;
    width: 70px;
    height: 30px;
    font-size: 12px;
    margin-top: 10px;
    border-radius: 10px;
    z-index: 100;
    display: none;
}

.lenge_select-toggle {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -120px;
}

.lenge_select-toggle img {
    width: 20px;
    height: 20px;
}

.show-select {
    display: block !important;
}
.site-menu li:first-child {
    margin-left: 110px; /* 첫 번째 메뉴 항목과 로고 사이의 간격 추가 */
}
