body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/* 메인 레이아웃을 위한 flexbox */
.main_mypage {
    display: flex;
    padding-top: 100px;
    padding-left: 20px;
    flex-grow: 1;
}

.mypage-profile {
    width: 21%;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    color: white;
}

.userinfo {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    height: auto;
    width: 100%;
}

.profile-img-container {
    width: 100%;
    height: 100%;
    margin:0px;
    padding: 0px;
    position: relative;
}

.profile-img {
    width: 90%;
    height: 70%;
    margin: 0px;
    border-radius: 50%;
    border: double 5px lightblue;
    position: relative;
}

/* 수정 버튼 스타일 */
.profile-edit-button {
    position: absolute;
    top: 85%;
    right: 10%;
    width: 45px;
    height: 40px;
    z-index: 100;
}

.profile-name {
    font-weight: bold;
    color: black;
    margin-top: 30px;
}

.profile-email {
    color: gray;
    font-size: 0.875rem;
}

/* 그리드 레이아웃 */
.info.area {
    width: 100%;
    display: flex;
    justify-content: center;
}

.myPage-main-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
}

.myPage-main-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 50px;
    background-color: #f2f2f2;
    border-radius: 10px;
    color: #202129;
    text-align: center;
    font-size: 1.25rem;

    &:hover {
        color: #202129;
        background-color: #e1e2e2;
        opacity: 1;
    }

    &:active {
        background-color: #d5d6d6;
        opacity: 1;
    }
}

.myPage-main-item-myPlan {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;  /* 부모 요소 크기에 맞추기 위해 추가 */
    height: 100%; /* 부모 요소 크기에 맞추기 위해 추가 */
}

a {
    display: flex;
    /*
    justify-content: center;
    */
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: auto;
}

/* 모달 오버레이 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}

