<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <link rel="icon" href="/images/home/logo_favicon_512.png">
    <link rel="apple-touch-icon" href="/images/home/logo_favicon_512.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/css/daterangepicker.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/language.css" />
    <title>RuRu Plan</title>
<style>
    .site-menu li a {
        z-index: 10000 !important ; /* 더 높은 값으로 설정 */
    }
    .col-lg-5 {
        position: relative; /* 위치를 명시적으로 설정 */
        z-index: 1 !important ; /* 값에 따라 레이어 순서를 조정 */
        visibility: hidden;
    }
    .slides{
        visibility: visible;
    }
    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }
</style>
</head>


<body>
<nav class="site-nav">
    <div class="site-navigation">
        <!-- 로고 -->
        <div class="logo-container">
            <a class="logo">
                <img class="logo_img" src="/images/home/로고_수정.png">
                <span class="text-primary" th:text="#{logo}"></span>
            </a>
        </div>
        <!-- 네비바  로그인x 로그인,조인  로그인o 로그아웃,마이페이지-->
        <ul class="site-menu">
            <li sec:authorize="isAuthenticated()">

                <a th:href="@{/myPage}" th:text="#{mypage}"></a>
            </li>

            <li><a th:href="@{planBoard/list}" th:text="#{plan_board}"></a></li>
            <li><a th:href="@{board/list}" th:text="#{board}"></a></li>

            <li sec:authorize="not isAuthenticated()">
                <a th:href="@{login/loginForm}" th:text="#{login.bt}"></a>
                <a id="join" th:href="@{/join/joinForm}" th:text="#{join}"></a>
            </li>

            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/member/logout}" th:text="#{logout}"></a>
            </li>

        </ul>

        <!-- 환율정보 박스 -->
        <div>
            <span th:text="#{exchange}"></span>
            <span th:text="${exchangeInfo}"></span>
        </div>

        <!-- 날씨정보 박스 -->
        <div class="weather_box">
            <div id="weather_icon">
                <!-- 이모티콘자리 -->
                <img class="weather_icon_set" id="weather" src="/images/home/날씨기본.png" />
            </div>
            <!-- 온도 -->
            <span class="temperature" id="tem"> -°C</span>
            <!-- 습도 -->
            <span class="humidity" id="hum"> -%</span>
        </div>

        <!-- 언어변경파트 -->

        <div class="lenge_select-toggle">
            <div class="language-selector">
                <img src="/images/home/지구본.png" alt="Globe Icon" />
                <div class="languages">
              <span
                      class="span_kor"
                      th:if="${#locale.language == 'ko'}"
                      style="font-weight: bold"
              >KOR</span
              >
                    <span class="span_kor" th:if="${#locale.language != 'ko'}"
                    >KOR</span
                    >
                    <div class="lang-separator"></div>
                    <span
                            class="span_jp"
                            th:if="${#locale.language == 'ja'}"
                            style="font-weight: bold"
                    >JP</span
                    >
                    <span class="span_jp" th:if="${#locale.language != 'ja'}"
                    >JP</span
                    >
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="intro-wrap">
                    <h1 class="mb-5">
                        <span class="d-block">Let's Enjoy Your</span>
                        <span class="typed-words" th:value="#{logo}"></span>
                    </h1>
                </div>
            <!--추천 버튼-->
                <div class="home-select-button-container">
                    <button class="home-select-button" id="ai">
                        <span class="home-button-text ai_button" th:text="#{ai}"></span>
                    </button>

                </div>
            </div>
            <div class="col-lg-5">
                <div class="slides">
                    <img src="/images/home/한옥_후보1.jpg" alt="Image" class="img-fluid" />
                    <img src="/images/home/북촌.png" alt="Image" class="img-fluid" />
                    <img src="/images/home/쌈지.png" alt="Image" class="img-fluid" />
                    <img src="/images/home/한옥_후보2.jpg" alt="Image" class="img-fluid" />
                    <img src="/images/home/한옥_후보3.jpg" alt="Image" class="img-fluid" />
                    <img src="/images/home/한옥_후보4.jpg" alt="Image" class="img-fluid" />
                    <img src="/images/home/한옥_후보5.jpg" alt="Image" class="img-fluid" />
                </div>

            </div>
        </div>
    </div>
</div>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/member/locale.js"></script>
<script src="/js/weather/nowWeather.js"></script>
<script src="/js/typed.js"></script>
<script src="/js/home.js"></script>
</body>
</html>
