<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bootstrap Layout Example</title>
    <link rel="stylesheet" href="css/bootstring.css" />
    <!-- Bootstrap CSS 링크 -->
    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/modal.bootstring.css}" />
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}" />
</head>

<body class="modal-body">
<!-- 일정저장을 위한 히든 -->
<!-- 일정저장을 위한 히든 -->
<!-- 시작일 -->

<input type="hidden" id="first_date_display" name="first_date_display" />
<!-- 마지말일 -->
<input type="hidden" id="last_date_display" name="last_date_display" />

<!-- 시작일 -->

<input type="hidden" id="first_date" name="first_date" />
<!-- 마지말일 -->
<input type="hidden" id="last_date" name="last_date" />

<!-- 시작일자 -->
<input type="hidden" id="startDayValue" name="startDayValue" />
<!-- 마지막 날 일자 -->
<input type="hidden" id="endDayValue" name="endDayValue" />
<!-- 박 -->
<input type="hidden" id="nightsValue" name="nightsValue" />
<!-- 일 -->
<input type="hidden" id="daysValue" name="daysValue" />
<!-- 예약정보  -->
<input type="hidden" id="reservationChoice" name="reservationChoice" />
<!-- 밀도 -->
<input type="hidden" id="density" />
<!-- 이동여부 -->
<input type="hidden" id="move_status" />
<!-- 비용 선택 -->
<input type="hidden" id="room_cost" />
<!-- 여행 유형 -->
<input type="hidden" id="trip_type" />

<div class="logo-title">
    <img class="logo" src="/images/logo.png" />
    <p th:text="#{logo}">ソウルに触る</p>

    <!--언어 변경 버튼-->
    <select name="lang" id="lang"
            style="width: 70px; height:40px; font-size: 12px; text-align: left; padding: 0px">
        <option value="ko" id="ko" th:selected="${#locale.language == 'ko'}">한국어</option>
        <option value="ja" id="ja" th:selected="${#locale.language == 'ja'}">日本語</option>
    </select>
</div>
<div hidden="hidden">
    <span id="yearT" th:text="#{year}"></span>
    <span id="monthT" th:text="#{month}"></span>
    <span id="daysT" th:text="#{days}"></span>
    <span id="nightsT" th:text="#{nights}"></span>
    <span id="startDateT" th:text="#{start_date}"></span>
    <span id="endDateT" th:text="#{end_date}"></span>
    <span id="arrivalTimeT" th:text="#{arrival_time}"></span>
    <span id="departTimeT" th:text="#{depart_time}"></span>
    <span id="pleaseSelectT" th:text="#{please_select}"></span>
    <span id="themeAlert1" th:text="#{theme_alert1}"></span>
</div>
<!-- 1번째 모달 창 -->
<div id="myModal1" class="modal-question">
    <div class="modal-question-content">
        <div class="modal-header">
            <div class="question-title-main">
                <!--질문1-->
                <h1 th:text="#{qs1}" id="qs1"></h1>
            </div>
            <div class="question-title-sub">
                <!--메세지-->
                <h2 th:text="#{qs1_ms1}"></h2>
            </div>
        </div>
        <div class="colorinfo">
            <!--휴일정보-->
            <div class="holiday-info">
                <span class="circle korean-holiday-circle"></span>
                <span th:text="#{k_holiday}"></span>
            </div>
            <div class="holiday-info">
                <span class="circle japanese-holiday-circle"></span>
                <span th:text="#{j_holiday}"></span>
            </div>
        </div>

        <!-- 캘린더 및 네비게이션 버튼 -->
        <div class="calendar-navigation">
            <button
                    id="prev-month"
                    class="prev-month-button"
                    type="button"
            ></button>
            <button
                    id="next-month"
                    class="next-month-button"
                    type="button"
            ></button>
        </div>
        <!-- 캘린더 -->
        <div id="calendar-container">
            <div id="calendar-1" class="calendar"></div>
            <div id="calendar-2" class="calendar"></div>
        </div>

        <!-- 현재 페이지 상황 -->
        <div class="progress-custom-question-container">
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
        </div>
        <!-- 이동 버튼 -->
        <button class="button-next"></button>
        <!-- 결과창 -->
        <div class="box-result-round"></div>
    </div>
</div>

<!-- 2번째 모달 창 -->
<div id="myModal2" class="modal-question">
    <div class="modal-question-content">
        <div class="modal-header">
            <div class="question-title-main">
                <h1 th:text="#{qs2}" id="qs2"></h1>
            </div>
            <div class="question-title-sub">
                <h2 th:text="#{qs2_ms1}"></h2>
            </div>
        </div>

        <div class="modal-selct-air-button">
            <!-- 예매여부 선택 버튼 -->
            <!-- 예약함 -->
            <div class="reservation-navigater">
                <button type="button" class="button-reservation">
                    <i class="icon-flight"></i>
                    <div class="question-selct1-text" th:text="#{book_ticket}"></div>
                </button>
                <!-- 예약안함 -->
                <button type="button" class="button-notreservation">
                    <i class="icon-airplanemode_inactive"></i>
                    <div class="question-selct2-text" th:text="#{no_ticket}"></div>
                </button>
            </div>
        </div>

        <!-- 결과창 -->
        <div class="box-reservation-result-round">
            <!-- 시간 선택 필드 -->
            <div class="date-time-wrapper">
                <div class="date-time-field">
                    <!-- 입국 일자 시간 -->
                    <input type="time" id="arrival" name="arrival" />
                </div>

                <div class="date-time-field">
                    <!--  출국 일자 시간 -->
                    <input type="time" id="depart" name="depart" />
                </div>
            </div>
        </div>

        <div class="progress-custom-question-container">
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
        </div>
        <form id="modalForm2">
            <!-- 이동 버튼 -->
            <button id="backToModal1" class="button-back" type="button"></button>
            <button class="button-next-page2"></button>
        </form>
    </div>
</div>

<!-- 3번째 모달 창 -->
<div id="myModal3" class="modal-question">
    <div class="modal-question-content">
        <div class="modal-header">
            <div class="question-title-main">
                <h1 th:text="#{qs3}" id="qs3"></h1>
            </div>
            <div class="question-title-sub">
                <h2 th:text="#{qs3_ms1}"></h2>
            </div>
        </div>
        <!-- 인원수 선택버튼 -->
        <div class="button-coustom-who">
            <div class="button-who-row1">
                <button type="button" id="button-alone">
                    <img
                            src="/images/modal/혼자_수정.png"
                            class="who-icon"
                            alt="혼자 아이콘"
                    />
                    <span class="who-text" th:text="#{trip_type1}"></span>
                </button>
                <button type="button" id="button-couple">
                    <img
                            src="/images/modal/커플이모티콘.png"
                            class="who-icon"
                            alt="커플 아이콘"
                    />
                    <span class="who-text" th:text="#{trip_type2}"></span>
                </button>
            </div>
            <div class="button-who-row2">
                <button type="button" id="button-parents">
                    <img
                            src="/images/modal/부모님_수정.png"
                            class="who-icon"
                            alt="부모님 아이콘"
                    />
                    <span class="who-text" th:text="#{trip_type3}"></span>
                </button>
                <button type="button" id="button-friend">
                    <img
                            src="/images/modal/친구이모티콘.png"
                            class="who-icon"
                            alt="친구 아이콘"
                    />
                    <span class="who-text" th:text="#{trip_type4}"></span>
                </button>
                <button type="button" id="button-kids">
                    <img
                            src="/images/modal/가족이모티콘.png"
                            class="who-icon"
                            alt="아이 아이콘"
                    />
                    <span class="who-text" th:text="#{kids}"></span>
                </button>
            </div>
        </div>

        <div class="box-who-result-round text-group-center-row-who">
            <div class="adult"><span th:text="#{adult}"></span><input type="text" id="adult" /><span th:text="#{num_people}"></span> </div>
            <div class="kids"><span th:text="#{kids}"></span><input type="text" id="children" /><span th:text="#{num_people}"></span> </div>
        </div>
        <div class="progress-custom-question-container">
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
        </div>
        <form id="modalForm3">
            <button id="backToModal2" class="button-back" type="button"></button>
            <button class="button-next-page3"></button>
        </form>
    </div>
</div>

<!-- 4번째 모달 창 -->
<div id="myModal4" class="modal-question">
    <div class="modal-question-content">
        <div class="modal-header">
            <div class="question-title-main">
                <h1 th:text="#{qs4}" id="qs4"></h1>
            </div>
            <div class="question-title-sub">
                <h2 th:text="#{qs4_ms1}"></h2>
            </div>
        </div>

        <!-- 테마1행 -->
        <div class="button-theme-row1">
            <button type="button" id="shopping" value="쇼핑">
                <img src="/images/modal/쇼핑_수정.png" class="theme-icon" />
                <span class="theme-text" th:text="#{theme1}"></span>
            </button>

            <button type="button" id="food" value="음식">
                <img src="/images/modal/음식이모티콘.png" class="theme-icon" />
                <span class="theme-text" th:text="#{theme2}"></span>
            </button>

            <button type="button" id="cafe" value="카페">
                <img src="/images/modal/카페이모티콘.png" class="theme-icon" />
                <span class="theme-text" th:text="#{theme3}"></span>
            </button>
        </div>
        <!-- 테마2행 -->
        <div class="button-theme-row2">
            <button type="button" id="history" value="역사">
                <img src="/images/modal/역사_수정.png" class="theme-icon" />
                <span class="theme-text" th:text="#{theme4}"></span>
            </button>
            <button type="button" id="culture" value="문화">
                <img src="/images/modal/문화이모티콘.png" class="theme-icon" />
                <span class="theme-text" th:text="#{theme5}"></span>
            </button>
            <button type="button" id="healing" value="힐링">
                <img src="/images/modal/힐링이모티콘.png" class="theme-icon" />
                <span class="theme-text" th:text="#{theme6}"></span>
            </button>
        </div>
        <!-- 테마3행 -->
        <div class="button-theme-row3">
            <button type="button" id="experience" value="체험">
                <img src="/images/modal/체험이모티콘.png" class="theme-icon" />
                <span class="theme-text" th:text="#{theme7}"></span>
            </button>
            <button type="button" id="landmark" value="랜드마크">
                <img src="/images/modal/랜드마크이모티콘.png" class="theme-icon" />
                <span class="theme-text" th:text="#{theme8}"></span>
            </button>

            <button type="button" id="leisuresports" value="레포츠">
                <div class="theme-text">
                    <img src="/images/modal/레포츠이모티콘.png" class="theme-icon" />
                    <span class="theme-text" th:text="#{theme9}"></span>
                </div>
            </button>
        </div>

        <!-- 테마4행 -->
        <div class="theme-box button-theme-row4">
            <div class="coment-ratio" th:text="#{my_theme}"></div>
            <div class="coment-ratio2" th:text="#{qs4_ms2}"></div>
            <div class="theme_1-box">
                <div class="theme" id="theme_1"></div>
            </div>

            <div class="theme_2-box">
                <div class="theme" id="theme_2"></div>
            </div>

            <div class="theme_3-box">
                <div class="theme" id="theme_3"></div>
            </div>

            <button type="button" id="water_skiing" value="수상레저">
                <img src="/images/modal/수상이모티콘.png" class="theme-icon" />
                <span class="theme-text" th:text="#{theme9_1}"></span>
            </button>

            <button type="button" id="ice_rink" value="아이스링크">
                <div class="sports">
                    <img src="/images/modal/아이스링크이모티콘.png" class="theme-icon" />
                    <span class="theme-text" th:text="#{theme9_2}"></span>
                </div>
            </button>

            <button type="button" id="bike" value="자전거">
                <img src="/images/modal/자전거이모티콘.png" class="theme-icon" />
                <span class="theme-text" th:text="#{theme9_3}"></span>
            </button>
        </div>
        <div class="progress-custom-question-container">
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
        </div>
        <form id="modalForm4">
            <button id="backToModal3" class="button-back" type="button"></button>
            <button class="button-next-page4"></button>
        </form>
    </div>
</div>

<!-- 5번째 모달 창 -->
<div id="myModal5" class="modal-question">
    <div class="modal-question-content">
        <div class="modal-header">
            <div class="question-title-main">
                <h1 th:text="#{qs5}" id="qs5"></h1>
            </div>
            <div class="question-title-sub">
                <h2 th:text="#{qs5_ms1}"></h2>
            </div>
        </div>

        <div class="modal-selct-air-button">
            <!-- 밀도 선택 버튼 -->
            <!-- 빡빡 -->
            <div class="reservation-navigater">
                <button type="button" class="button-density">
                    <img src="/images/modal/빡이모티콘.png" class="density-img" />
                    <div class="question-selct1-text" th:text="#{density1}"></div>
                    <div class="question-selct1-text-sub" th:text="#{qs5_ms2}"></div>
                </button>
                <!-- 널널 -->
                <button type="button" class="button-notdensity">
                    <img src="/images/modal/널_수정.png" class="density-img" />
                    <div class="question-selct2-text" th:text="#{density2}"></div>
                    <div class="question-selct1-text-sub" th:text="#{qs5_ms3}">
                    </div>
                </button>
            </div>
        </div>

        <div class="progress-custom-question-container">
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
            <div class="progress-question-step"></div>
        </div>
        <form id="modalForm5">
            <button id="backToModal4" class="button-back" type="button"></button>
            <button class="modal-submit-button" type="submit"></button>
        </form>
    </div>
</div>

<!-- Bootstrap JS 및 의존성 JS 링크 -->
<script src="/js/jquery-3.7.1.min.js"></script>
<script src="/javascript/member/locale.js"></script>
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="/js/modal_javascript/modal.js"></script>
<script src="/js/modal_javascript/question1_calender.js"></script>
<script src="/js/modal_javascript/question1.js"></script>
<script src="/js/modal_javascript/question2.js"></script>
<script src="/js/modal_javascript/question3.js"></script>
<script src="/js/modal_javascript/question4.js"></script>
<script src="/js/modal_javascript/question5.js"> </script>
</body>
</html>
